.calc {
  min-height: 990px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include bg;
  background-image: url('/src/img/bgs/calc-bg.jpg');
}

.calc__title {
  margin-bottom: 0;

  font-size: 40px;
  font-weight: 900;
  color: $white;
  text-align: center;

  @media (max-width: 575px) {
    font-size: 32px;
  }
}

.calc__actions-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (max-width: 575px) {
    margin-top: 40px;
  }
}

.calc__actions-box {
  position: relative;

  width: 500px;
  padding: 48px 20px 48px 75px;
  margin-bottom: 15px;

  border-radius: 6px;
  background-color: $white;

  @media (max-width: 575px) {
    width: 100%;
    padding-left: 20px;
    padding-top: 60px;
  }

  &::before {
    position: absolute;
    font-weight: 900;
    font-size: 70px;
    line-height: 51px;
    color: #d59342;
    top: 50%;
    left: -41px;
    transform: translatey(-50%) rotateZ(270deg);

    @media (max-width: 575px) {
      font-size: 50px;
      top: -6px;
      left: 50%;
      transform: translatex(-50%);
    }
  }

  &:first-child::before {
    content: 'МЫ';
  }

  &:last-child::before {
    content: 'ВЫ';
    left: -34px;
    @media (max-width: 575px) {
      top: -6px;
      left: 50%;
      transform: translatex(-50%);
    }
  }
}

.calc__action-list {
  padding: 0;
  margin-bottom: 0;

  list-style: none;
}

.calc__action-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 575px) {
    margin-bottom: 15px;
  }

  font-size: 18px;
  line-height: 1.44;

  svg {
    margin-right: 20px;
  }
}

.calc__wrapper {
  margin-top: 77px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 575px) {
    margin-top: 30px;
  }
}

.calc__input-list {
  width: 100%;
  margin-right: 0;
}

.calc__input-item {
  margin-bottom: 70px;

  &:last-child {
    margin-bottom: 0;
  }
}

.calc__input-title {
  margin-bottom: 0;

  font-weight: 900;
  color: $white;
}

.calc__input {
  width: 100%;
  height: 14px;

  border-radius: 7px;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    width: 28px;
    height: 28px;

    @include bg;
    background-image: url('../img/icons/thumb.png');
    box-shadow: 0px 2px 27px 0 #ffb454;
    border-radius: 7px;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    margin-top: 15px;
    width: 28px;
    height: 28px;

    @include bg;
    background-image: url('../img/icons/thumb.png');
    box-shadow: 0px 2px 27px 0 #ffb454;
    border-radius: 7px;
    cursor: pointer;

    appearance: none;
    -moz-appearance: none;
  }
  &::-ms-thumb {
    width: 28px;
    height: 28px;

    @include bg;
    background-image: url('../img/icons/thumb.png');
    box-shadow: 0px 2px 27px 0 #ffb454;
    border-radius: 7px;
    cursor: pointer;

    appearance: none;
  }
}

.calc__label-list {
  margin-top: 7px;
  margin-bottom: 0;

  display: flex;
  width: 100%;
  justify-content: space-between;
}

.calc__label-item {
  font-size: 14px;
  text-align: center;
  color: $white;

  width: 36px;
}

.calc__check-box {
  padding: 16px 15px 16px 10px;
  font-size: 18px;
  font-weight: 900;
  width: 237px;
  margin-top: 15px;

  box-shadow: 0px 1px 0 0 rgba(218, 195, 190, 0.75);
  background-color: $white;
  border-radius: 5px;
}

.calc__spend-item {
  margin-bottom: 30px;
  font-size: 18px;
  color: $white;
  line-height: 20px;
}

.calc__spend-list {
  margin-top: 30px;
}

.calc__spend-number {
  font-size: 23px;
  font-weight: 900;
}

.calc__profit {
  font-size: 24px;
  font-weight: 900;
  color: #d59342;
  line-height: 40px;
}

.calc__profit-number {
  font-size: 60px;

  @media (max-width: 575px) {
    font-size: 50px;
  }
}
