.form {
  width: 435px;
  padding: 30px 35px 25px 35px;

  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 26px 109px 0 rgba(131, 65, 0, 0.15);

  @media (max-width: 575px) {
    width: 100%;
    padding: 30px 20px 25px 20px;
  }

  &_line {
    margin: 0 auto;

    width: 100%;

    & .form__input-list {
      flex-direction: row;
      align-items: center;
      flex-direction: column;
    }

    & .form__input-box {
      width: 100%;
    }

    & .form__input {
      margin-right: 0;
    }

    & .form__title,
    & .form__text {
      text-align: center;
    }

    & .form__policy-text {
      font-size: 12px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  &_desc, &_feedback {
    margin-top: 30px;
      margin-right: auto;
      margin-left: auto;
  }

  &_sort {
    margin-top: 30px;
  }

  &_feedback {
    position: relative;
    z-index: 1;

    padding-top: 30px;
  }

  &_modal {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    width: 400px;

    @media (max-width: 575px) {
      width: 300px;
    }
  }
}

.form__title {
  margin-bottom: 0;

  font-size: 24px;
  font-weight: 900;
  line-height: 1.25;

  @media (max-width: 575px) {
    font-size: 21px;
  }
}

.form__text {
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.44;

  @media (max-width: 575px) {
    font-size: 16px;
  }
}

.form__input-list {
  margin-top: 23px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.form__input-label {
  margin-bottom: 0;
  font-size: 14px;
  text-align: left;
}

.form__input {
  margin-top: 9px;
  padding: 16px 18px 18px 20px;

  font-size: 18px;
  line-height: 20px;
  color: #bb8751;

  background-color: #f4f1ed;
  border: none;

  &:focus {
    outline: 2px solid #bb8751;
  }

  &::-webkit-input-placeholder {
    color: #bb8751;
    font-size: 18px;
  }
  &::-moz-placeholder {
    color: #bb8751;
    font-size: 18px;
  }
  &:-ms-input-placeholder {
    color: #bb8751;
    font-size: 18px;
  }
  &:-moz-placeholder {
    color: #bb8751;
    font-size: 18px;
  }
}

.form__button {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 18px;
  font-weight: 900;
  line-height: 1.44;
  text-align: center;
  color: $white;

  box-shadow: 0px 3px 0 0 #cc1c3d;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to top, #e8232b, #f87ca5);  

  &:hover, &:focus {
    box-shadow: 0px 3px 0 0 #de3958;
    background-image: linear-gradient(to top, #f04a5a, #ff99bb);
    outline: none;
  }

  &:active {
    box-shadow: inset 0px 4px 1px 0 rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #bd0007, #ed3d4e);
  }
}

.form__policy-text {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 1.4;
  text-align: left;
  color: #bb8751;
}

.form__policy {
  padding-left: 0;
  padding-right: 0;
  
  color: #bb8751;
  text-decoration: underline;

  border: none;
  background-color: transparent;
}
