.gains {
  position: relative;

  min-height: 1052px;
  padding-top: 104px;
  padding-bottom: 94px;

  @media (max-width: 575px) {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.gains__title {
  margin-bottom: 0;

  font-size: 40px;
  font-weight: 900;
  text-align: center;

  @media (max-width: 575px) {
    font-size: 30px;
  }
}

.gains__subtitle {
  margin-top: 30px;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;

  @media (max-width: 575px) {
    font-size: 22px;
  }
}

.gains__list {
  margin-top: 64px;
  padding: 0;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  list-style: none;

  @media (max-width: 575px) {
    margin-top: 35px;
  }
}

.gains__item {
  width: 45%;

  @media (max-width: 575px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.gains__icon {
  width: 122px;
  height: 122px;

  background-image: linear-gradient(to top, #b47531, #eca84d);
  border-radius: 50%;

  &_first {
    background-image: url('/src/img/icons/gains/icon1.png');
    background-size: cover;
  }
  &_second {
    background-image: url('/src/img/icons/gains/icon2.png');
    background-size: cover;
  }
  &_third {
    background-image: url('/src/img/icons/gains/icon3.png');
    background-size: cover;
  }
  &_fourth {
    background-image: url('/src/img/icons/gains/icon4.png');
    background-size: cover;
  }
}

.gains__item-title {
  margin-bottom: 0;
  margin-top: 34px;

  font-size: 20px;
  font-weight: 900;
}

.gains__item-text {
  font-size: 18px;
  line-height: 1.44;
  margin-top: 20px;

  @media (max-width: 575px) {
    text-align: center;
    font-size: 16px;
  }
}

.gains__bee-img {
  margin-bottom: 0;

  position: absolute;
  bottom: 67px;
  right: 300px;

  @media (min-width: 1921px) {
    display: none;
  }

  @media (max-width: 1440px) {
    display: none;
  }
}
