.review-slider {
  position: relative;
  z-index: 1;

  margin-top: 45px;
  margin-bottom: 56px;
  padding: 48px 46px 40px 25px;
  width: 100%;

  background-color: #f3f0ed;
  border-radius: 10px;

  @media (max-width: 575px) {
    padding-right: 20px;
    padding-top: 25px;
  }
}

.review-slider__wrapper {
  width: 100%;
  overflow: hidden;
}

.review-slider__img-box {
  display: flex;
  justify-content: space-between;
  transform: translate3d(-400%, 0, 0);
  user-select: none;
  touch-action: pan-y;
}

.review-slider__img-item {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img,
  div {
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
  }
}

.review-slider__btn-next,
.review-slider__btn-prev {
  position: relative;

  width: 20px;
  height: 20px;

  background-image: url('/src/img/icons/review-arrow-left.png');
  background-repeat: no-repeat;
  background-position: center center;
  border: none;

  &:disabled {
    opacity: 0.5;
  }
}

.review-slider__btn-next {
  background-image: url('/src/img/icons/review-arrow-right.png');
}

.review-slider__controls {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.review-slider__nav-box {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.review-slider__nav-item {
  margin: 0 12px;
  width: 28px;
  height: 28px;

  font-size: 14px;
  font-weight: 900;
  line-height: 1.86;

  border: none;

  &_active {
    background-image: linear-gradient(to top, #b47531, #eca84d);
    border-radius: 50%;
  }

  @media (max-width: 575px) {
    margin: 0;
  }
}
