body {
  font-family: 'GothamPro';
  color: $black;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  &_footer {
    min-height: inherit;
  }

  &_calc {
    max-width: 1026px;
  }

  &_formats {
    max-width: 850px;
  }

  @media (max-width: 1200px) {
    padding: 0 30px;
  }
  @media (max-width: 575px) {
    padding: 0 15px;
  }
}

.rouble {
  font-family: 'Rouble';
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}